*{
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1{
    color: #000000;
    font-size: 44px;
    text-align: center;
    display: flex;
    justify-content: center;
}

h2{
    color: #000000;
    font-size: 34px;
    display: flex;
    justify-content: center;
}

p {
    color: #000000;
    font-size: 28px;
    display: flex;
    justify-content: center;
}

a{
    color: #000000;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

img{
    filter: drop-shadow(12px 12px 10px black);
    border-radius: 20px;
    margin: 20px;
    width: 500px;
    height: 250px;
}

.img-container{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 28px;
  }
  
  p, a {
    font-size: 18px;
  }
}